
@{
    ViewBag.Title = "SaveMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SaveMovie</h2>

<h4 style="color:purple">
    <b>Name:</b>  @ViewBag.Name
    <b> RELEASE DATE:</b> @ViewBag.releasedate  <br />
    <b> date added</b>  @ViewBag.addedwedate <br />
</h4>