@model Vidly.Models.Customer

@{
    ViewBag.Title = "Customer Information";
}


    
        <h1>@Model.Name</h1>
        <br>
        <ul>
            <li>Membership Type:-@Model.MemberShipType.MembershipTypeName</li>
            @*<li>Birthdate:-@Model.Birthdate.ToString("dd-MMM-yyyy")</li>*@
        </ul>
        
   

   