@model Vidly.Models.Movies

@{
    ViewBag.Title = "Movies Information";
}



<h1>@Model.Name</h1>
<br>
<ul>
    @*<li>Genre:-@Model.Genre.Genre_name</li>
    <li>Date Added:-@Model.Dateadded.ToString("D")</li>
    <li>Release Date:-@Model.Releasedate.ToString("D")</li>
    <li>No in Stocks:-@Model.Noofstock</li>*@
</ul>
